body {
  background-color: #30475e;

}
font {
  font-size: 30%;
}
img {
  height: 320px;

}

hr {border-style: none;
  border-top-style: dotted;
  border-color: #a2d5f2;
  border-width: 5px;
  width: 7%
}

h1 {
  color: white;
}
h2 {
  color: white;
}
p {
  color: white;

}
ul {
  color:white;

}
h3{
  color: white;
}
table {
  color: white;


}
ol {
  color: white;

}
form {
  color: white;

}
a {
  color: Red;
}
